html, body {
  height: 100%;
  width: 100%;
  background: #f0f0f0;
  font-family: "Lato";
}

#root {
  /* Block formatting context */
  overflow: hidden;
}

h1 {
  text-align: center;
  margin-top: 200px;
  font-weight: 300;
}

h2 {
  text-align: center;
  font-weight: 200;
}